mixin m-head
  //- Texts
  - var author = '(site link)'
  - var title = 'title'
  - var description = 'description'
  
  head
    meta(charset='utf-8')
    title title
    meta(name='author' content=author)
    meta(name='description' content=description)