$screenFadeIn: fadeIn 0.3s linear forwards;
$screenFadeOut: fadeOut 0.3s linear forwards;
$screenHide: fadeOut 0s linear forwards;

$itemFadeIn: fadeIn 0.2s ease forwards;
$itemFadeOut: fadeOut 0.2s ease forwards;